!.gitignore
!README.md
**/.DS_Store
**/.vs
**/Certs
.vscode
tools
host.json
connections.json
local.settings.json
**/bin
**/obj
**/certs
**/Misc/commands.txt
**/Misc/*-sa.json
**/Misc/jwt-payload.json
**/node_modules

**/Terraform/**/*.terraform
**/Terraform/**/*.tfstate*
**/Terraform/**/*.plan
**/Terraform/**/*.hcl
**/Terraform/**/*.tfbackend
**/Sunbird
**/Sunbird/**
